
shoes
*.JPG

simple_game_pic_steps/anim_star.rb
simple_game_pic_steps/app_12_04_banditnew2.rb
simple_game_pic_steps/loop variant.txt
simple_game_pic_steps/text_animation.rb
simple_game_pic_steps/game_app_test.rb
simple_game_pic_steps/game_app_test2.rb
simple_game_pic_steps/game_app_test3.rb
simple_game_pic_steps/game_app_new.rb
simple_game_pic_steps/old_tictactoe.rb
simple_game_pic_steps/game_app_2509.rb
simple_game_pic_steps/copy_tictactoe.rb
simple_game_pic_steps/game_app_2709.rb
simple_game_pic_steps/game_app_2909.rb
simple_game_pic_steps/game_app_3009.rb
simple_game_pic_steps/counter.rb
simple_game_pic_steps/game_app_0210.rb
simple_game_pic_steps/game_app_0410.rb
simple_game_pic_steps/make_turn.txt
simple_game_pic_steps/game_app_0610.rb
simple_game_pic_steps/game_app_0810.rb
simple_game_pic_steps/game_app_0810_2.rb
simple_game_pic_steps/game_app_0910.rb